body {
  font-family: arial;
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  margin: auto;
}
#plusButton {
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  display: block;
}
#plusButton:hover {
  cursor: pointer;
}

h1 {
  font-family: arial;
  font-size: 35px;
  color: black;
}

ul {
  padding-inline-start: 0px;
  max-width: 500px;
}
li {
  font-family: arial;
  display: inline-block;
  font-size: 20px;
  list-style-type: none;
  text-transform: uppercase;
  color: black;
}

li span {
  height: 80px;
  border-radius: 5px;
  display: block;
  font-size: 75px;
  font-weight: normal;
  background-color: #ec4949;
  width: 100px;
  color: black;
  margin: 3px;
  padding: 5px;
}

#countdown {
  max-width: 500px;
  text-align: center;
  margin: auto;
  display: block;
}

#counter {
  font-size: 100px;
}

.tomato {
  height: 60px;
  width: 60px;
  margin: 5px;
}

#tomatoGrid {
  height: 500px;
  width: 100%;
  max-width: 750px;
}

#myTarget {
  font-size: 40px;
}

.settings {
  border-radius: 12px;
  font-size: 18px;
  border: 2px solid black;
  padding: 8px;

  margin: 15px;
  margin-top: 25px;
  background-color: rgb(255, 255, 255);
}
.settings:hover {
  cursor: pointer;
}
